# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================
# Virtual Environment
# =====================
venv/
.env

# =====================
# Database
# =====================
*.db
*.sqlite3

# =====================
# OS / Editor junk
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =====================
# Logs
# =====================
*.log

# =====================
# Secrets
# =====================
.env